/*General*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    min-width: 320px; 
}
  
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 1980px;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    height: 1980px;
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    min-height: 100%;
}


/*Header*/

.header-container {
    display: flex;
    width: 1170px;
    height: 37px;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 813px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
    margin-bottom: 60px;
}

.logo {
    width: 215px;
    height: 37px;
    background-size: contain;
    background-repeat: no-repeat;
}

.cart-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
}

.shopping-cart {
    pointer-events: none;
    width: 28px;
    height: 23px;
    margin-bottom: 1px;
}

.cart-link {
    pointer-events: none;
    color: #35383A;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 1px;
}


.cartAmount {
    display: none;
    width: 21px;
    height: 21px;
    background: rgba(0, 168, 45, 1);
    border-radius: 10px;
    text-align: center;
    margin-top: 3px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 3px;
}


.cart-box:hover a {
    color: rgba(0, 168, 45, 1);
}

.cart-box:hover img { 
    filter: invert(38%) sepia(21%) saturate(6626%) hue-rotate(119deg) brightness(97%) contrast(102%);
}


/*Main*/

.main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    grid-auto-rows: minmax(270px, 380px);
    width: 1170px;
    height: 1719px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-bottom: 70px;
}

.main-title {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.product_card {
    text-align: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 380px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    cursor: pointer;
}

.product_img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 34px;
}


.product-text {
    width: 230px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.product_summ {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 35px;
}

.product-btn {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 186px;
    height: 40px;
    background: #296DC1;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.product_card:hover .product-btn{
    display: block;
    transition: .1s;
    animation: show 1s 1;
    animation-fill-mode: both;
    animation-delay: 0.1s;
}

@keyframes show {
    0%{
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

  
.product_card:hover .product_img {
    position: relative;
    transition: 0.3s;
    margin-bottom: 4px;
}

.product_card:hover .product_summ {
    position: relative;
    transition: 0.3s;
    margin-bottom: 15px;
}


/*Footer*/

.footer-box {
    text-align: left;
    align-items: center;
    align-self: center;
}

.footer-line {
    width: 1170px;
    height: 1px;
    background: #A8AFBB;
    margin-bottom: 20px;
}

.footer-text {
    color: #7C828B;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 21px; 
}



/*Cart-html*/

.cart-container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}


.cart_item {
    display: flex;
    align-items: center;
    align-self: center;
    width: 1170px;
    height: 150px;
}

.cart_img {
    width: 160px;
    height: 150px;
    margin-right: 42px;
}

.cart-text {
    width: 274px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-right: 151px;
}

.count {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 159px;
    height: 40px;
    border: solid 1px #A8AFBB;
    margin-right: 159px;
}

.minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 39px;
    padding: auto;
    cursor: pointer;
    
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    width: 73px;
    height: 39px;
    border-right: solid 1px #A8AFBB;
    border-left: solid 1px #A8AFBB;
}

.plus {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 39px;
    cursor: pointer;
}

.minus:hover, .plus:hover {
    background-color: #296DC1;
}

.minus:hover i, .plus:hover i { 
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(150deg) brightness(106%) contrast(100%);
}

.plus i, .minus i {
    font-size: 22px;
}

.item_summ {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-right: 90px;
}


.close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 40px;
    cursor: pointer;
}

.cross {
    width: 16px;
    height: 16px;
}

.close:hover {
    background-color: #296DC1;
}

.close:hover img { 
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(150deg) brightness(106%) contrast(100%);
}

.cart_line {
    width: 1170px;
    height: 1px;
    background: #A8AFBB;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cart_summ {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-align: right;
    margin-right: 47px;
    margin-bottom: 60px;
}

.form_info {
    width: 1800px;
    height: 540px;
    background: #F2F5F9;
    margin-bottom: 60px;
}

.form-title {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 30px;   
}

.contacts-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
}

.form {
    width: 430px;
    height: 60px;
    background: #FFF;
    color: #535860;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 30px;
    border: none;
    padding-left: 26px;
}

input:focus-visible {
    border: 1px solid #4892EC;
    border-radius: 1px;
    outline: none;
}

.submit-btn {
    width: 430px;
    height: 60px;
    background: rgba(41, 109, 193, 0.50);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    border: none;
    margin-bottom: 76px;
}



/* Медиа запросы для адаптивности */

/* Пропорциональное уменьшение лишнего пространства для ширины экрана от 1200px и более*/

@media (min-width: 1200px) {
    .wrapper {
        width: 100%;
    }
}

/* Адаптив для ширины экрана до 1200px (от 751px до 1200px) */
@media (max-width: 1200px) {
    .wrapper {
        width: 1200px;
        height: 2808px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .header-container {
        display: flex;
        width: 930px;
        height: 37px;
        gap: 573px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-auto-rows: minmax(270px, 380px);
        width: 890px;
        height: 2559px;
    }

    .footer-box {
        width: 930px;
        height: 36px;
    }

    .footer-line {
        width: 930px;
    }
}

/* Пропорциональное уменьшение лишнего пространства для ширины экрана до 751px */

@media (min-width: 751px) {
    .wrapper {
        width: 100%;
    }
    
}

/* Адаптив для ширины экрана 750px */

@media (max-width: 750px) {
    .wrapper {
        width: 750px;
        height: 10375px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .header-container {
        display: flex;
        width: 690px;
        height: 37px;
        gap: 333px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main-container {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 40px;
        grid-auto-rows: minmax(450px, 590px);
        width: 452px;
        height: 10109px;
    }

    .product_card {
        text-align: center;
        align-items: center;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        width: 450px;
        height: 590px;
        border: 1px solid #DEDEDE;
        background: #FFF;
        cursor: pointer;
    }

    .product_img {
        width: 400px;
        height: 400px;
    }

    .footer-box {
        width: 690px;
        height: 36px;
    }

    .footer-line {
        width: 690px;
    }

    .product-text {
        width: 330px;
    }

    .product_card:hover .product-btn {
        transition: none;
        animation: none;
        animation-fill-mode: none;
        animation-delay: none;
    }

    .product_img {
        margin-bottom: 4px;
    }

    .product_summ {
        margin-bottom: 15px;
    }

    .product-btn {
        display: block;
    }
}

/* Пропорциональное уменьшение лишнего пространства для ширины экрана до 581px */

@media (min-width: 581px) {
    .wrapper {
        width: 100%;
    }
    
}

/* Адаптив для ширины экрана 580px */

@media (max-width: 580px) {
    .wrapper {
        width: 580px;
        height: 10375px;
    }

    .header-container {
        width: 511px;
        height: 30px;
        gap: 275px;
    }

    .cart-link {
        display: none;
    }

    .main-container {
        width: 452px;
        height: 10109px;
    }

    .footer-box {
        width: 510px;
        height: 52px;
    }
    
    .footer-line {
        width: 510px;
    }
}

/* Пропорциональное уменьшение лишнего пространства для ширины экрана до 321px */

@media (min-width: 321px) {
    .wrapper {
        width: 100%;
    } 
}

/* Адаптив для ширины экрана 320px */

@media (max-width: 320px) {
    .wrapper {
        width: 320px;
        height: 6824px;
    }

    .header-container {
        width: 290px;
        height: 30px;
        gap: 54px;
    }

    .cart-link {
        display: none;
    }

    .main-container {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-auto-rows: minmax(270px, 380px);
        width: 270px;
        height: 6594px;
    }

    .product_card {
        text-align: center;
        align-items: center;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
        height: 380px;
    }

    .product_img {
        width: 200px;
        height: 200px;
    }

    .product-text {
        width: 230px;
    }

    .footer-box {
        width: 290px;
        height: 52px;
    }
    
    .footer-line {
        width: 290px;
    }
}

/* Максимальная ширина экрана 320px */

/* @media (min-width: 320px) {
    .wrapper {
        width: 100%;
    } 
} */